.card {
    position: relative;
    border-radius: 6px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    background-color: #001b92;
    -webkit-box-shadow: 0px 10px 13px -7px #fff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #fff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.card .front-card {
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.3s;
}

.flipped .front-card {
    transform: rotateY(0deg);
    transition-delay: 0.3s;
}

.card .back-card {
    transition: all ease-in 0.3s;
    transition-delay: 0.3s;
}

.flipped .back-card {
    transform: rotateY(90deg);
    transition-delay: 0s;
}